input[type=button] {
background-color: #32e662;
border-color: #0f5c23;
};
h1 {
font-family: Helvetica, sans-serif;
}
body {
background-color: 69ff91;
margin-left: 10%;
font-family: Arial, sans-serif;
};
